<app-base-page></app-base-page>
<br><br>
<!--created html page for about us-->
<!-- info page-->
<div class="text-center w-100">
    <div class="row col-md-3 d-inline-block">
        <div class="content">

            <!-- <div class="container">
              <div class="row">
                <div class="col-md-5 mr-auto">
                  <h2>Contact Us</h2> -->
            <h2>We are here to help</h2>
            <img src="../../../assets/img/TeamLogo.png" alt="logo" style="width:200px">
            <h4>Centennial College, Scarborough</h4>
            <h4>Ontario</h4>
            <h4>Canada</h4>
            <h3>+1 (647)768 8021</h3>
            <h3>info@webexpert.com</h3>


        </div>

    </div>
    <br> <br> <br> <br>
    <div>
        <i id="languageLogo" class="devicon-csharp-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-python-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-javascript-plain colored"></i>
        <i id="languageLogo" class="devicon-html5-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-css3-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-mysql-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-java-plain-wordmark colored"></i>
        <i id="languageLogo" class="devicon-nodejs-plain colored"></i>

    </div>
</div>