<!-- COMP229 - Fall 2021 - - Sec 09
Group - 13
WEbExpert -->
    
<app-base-page></app-base-page>
<br><br>
<!--created html page for about us-->
<!-- info -->
<div class="text-center w-100">
    <div class="row col-md-3 d-inline-block">
        <p id="aboutText">Hello we are WebExpert team, Full Stack Web Developer, We are passionate about
            building
            excellent software that improves the lives of those around us. We’ve developed a far range of products
            ranging from websites, databases, responsive mobile applications and games.</p>

        <!-- <P id="aboutText">Here are a few technologies we’ve been working with recently</p> -->
        <br><br>
    </div>
        <div>
            <i id="languageLogo" class="devicon-csharp-plain-wordmark colored"></i>
            <i id="languageLogo" class="devicon-python-plain-wordmark colored"></i>
            <i id="languageLogo" class="devicon-javascript-plain colored"></i>
            <i id="languageLogo" class="devicon-html5-plain-wordmark colored"></i>
            <i id="languageLogo" class="devicon-css3-plain-wordmark colored"></i>
            <i id="languageLogo" class="devicon-mysql-plain-wordmark colored"></i>
            <i id="languageLogo" class="devicon-java-plain-wordmark colored"></i>
            <i id="languageLogo" class="devicon-nodejs-plain colored"></i>
        
    </div>
</div>