<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

            <form class="form">
                <div class="form-group">
                <br/>
                    <label for="surveyTextField">Survey Title:</label>
                    <input type="text" class="form-control"
                        id="surveyTextField"
                        placeholder="Enter the Title"
                        name="Title" 
                        [(ngModel)]="survey!.Title"
                        required>
                </div>
                <br/>
                <br/> 
                <button class="btn btn-primary" (click)="saveSurvey()">
                    <i class="fas fa-edit"></i> 
                    Create Questions
                </button>
                
                <a routerLink="/surveys/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Back to List
                </a>

            </form>
        </div>

    </div>
</div>